<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1031183019465-ng7g8mjq6ojdvbk5qin7vag3s9ads7d1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1031183019465-ng7g8mjq6ojdvbk5qin7vag3s9ads7d1</string>
	<key>API_KEY</key>
	<string>AIzaSyA4lNeWc9o_VWACO5zNuhDXOzCrZ5rkkOQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1031183019465</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>earth.flare.Flare</string>
	<key>PROJECT_ID</key>
	<string>flare-1ef4b</string>
	<key>STORAGE_BUCKET</key>
	<string>flare-1ef4b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1031183019465:ios:fb30cd7f950dfe4f</string>
	<key>DATABASE_URL</key>
	<string>https://flare-1ef4b.firebaseio.com</string>
</dict>
</plist>